<div class="container pt-3 pb-5 login-container">
  <h1>Blogger <i class="fa-brands fa-blogger"></i></h1>
  <p>Create public or private blogs.</p>
  <a
    href="/auth/google"
    class="text-uppercase bg-danger px-4 py-2 text-decoration-none mt-4"
    style="color:#fff; outline:none; border: none; cursor: pointer"
  ><i class="fa-brands fa-google"></i>
    &nbsp;&nbsp;Log In with google
  </a>
</div>